{% extends 'base.html.twig' %}

{% block body %}
    {% if games is not empty %}
        {% for game in games %}
            <a href="{{ path('game', {'slug': game.slug}) }}">{{ game.title }}</a> by {{ game.author }}
        {% endfor %}
    {% endif %}
{% endblock %}